layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
    }
    tab cwd="~/git/cottno-api" name="1 nvim" {
        pane command="nvim"
    }

    tab cwd="~/git/cottno-api" name="2 api" {
        pane
    }

    tab cwd="~/git/cottno-api" name="3 client" {
        pane
    }

    tab cwd="~/git/cottno-api" name="4 docker" {
        pane command="lazydocker"
    }

    tab cwd="~/git/cottno-api" name="5 terminal" {
        pane
    }
}
