layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="zellij:tab-bar"
        }
        children
    }
    tab cwd="~/projects/cottno-api" name="1 api" {
        pane command="nvim"
    }

    tab cwd="~/projects/cottno" name="2 front_end" {
        pane command="nvim"
    }

    tab cwd="~/projects/cottno-api/src/web" name="3 dotnet" {
        pane
    }

    tab cwd="~/projects/cottno" name="4 pnpm" {
        pane
    }

    tab cwd="~/projects/cottno-api" name="5 terminal" {
        pane
    }
}
